body{
    background-image: url(sol.jpg);
}

.red{
    font-family: Britannic Bold;
    font-size: 20px;
    color: rgb(24, 218, 218);
}

.agua{
    font-family: Bernard MT Condensed;
    font-size: 50px;
    color: rgb(187, 255, 0);
    text-align: center;
    text-shadow: 4px 5px 6px red;
}

.rio{
    font-family: Algerian;
    font-size: 30px;
    color: rgb(174, 0, 255);
}

.mar{
    font-family: Algerian;
    font-size: 30px;
    color: rgb(174, 0, 255);
}

.arrollo{
    font-family: Algerian;
    font-size: 30px;
    color: rgb(174, 0, 255);
}